
.sheet-tabs {
    position: relative;
    min-height: 200px; /* This part sucks */
    clear: both;
    margin: 25px 0;
}
.sheet-tab {
    float: left;
}
.sheet-tab label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    width: 80px;
    left: 1px;
}
.sheet-tab [type=radio] {
    display: none;
}
.sheet-content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    padding: 20px;
    border: 1px solid #ccc;
}

.sheet-ImageOverride {
}

[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}

[type=radio]:checked ~ label ~ .sheet-content {
    z-index: 1;
}

[type=text]{
    background-color: transparent;
    border-color: transparent;
    border: none;
    box-shadow: none;
}



.sheet-PlayerName {
    position: absolute;
    color: green;
    top: 110px;
    left: 90px;
    right: 5px;
}

.sheet-CampgainName {
    position: absolute;
    color: green;
    top: 140px;
    left: 100px;
    right: 5px;
}

.sheet-CurrentExp {
    position: absolute;
    color: green;
    top: 168px;
    left: 75px;
    width: 140px;
}

.sheet-NextExp {
    position: absolute;
    color: green;
    top: 167px;
    left: 250px;
    width: 70px;
    height: 10px;
    font-size: 13px;
}

/*Str Ability 26 dif CSS*/
.sheet-StrScore {
    position: absolute;
    color: green;
    top: 240px;
    left: 100px;
    right: 5px;
    width: 37px;
}

.sheet-StrItemBonus {
    position: absolute;
    color: green;
    top: 240px;
    left: 145px;
    right: 5px;
    width: 37px;
}

.sheet-StrMod {
    position: absolute;
    color: green;
    top: 240px;
    left: 189px;
    right: 5px;
    width: 37px;
}

.sheet-StrTempScore {
    position: absolute;
    color: green;
    top: 240px;
    left: 232px;
    right: 5px;
    width: 37px;
}

.sheet-StrTempMod {
    position: absolute;
    color: green;
    top: 240px;
    left: 276px;
    right: 5px;
    width: 37px;
}

/*Dex Ability CSS*/
.sheet-DexScore {
    position: absolute;
    color: green;
    top: 266px;
    left: 100px;
    right: 5px;
    width: 37px;
}

.sheet-DexItemBonus {
    position: absolute;
    color: green;
    top: 266px;
    left: 145px;
    right: 5px;
    width: 37px;
}

.sheet-DexMod {
    position: absolute;
    color: green;
    top: 266px;
    left: 189px;
    right: 5px;
    width: 37px;
}

.sheet-DexTempScore {
    position: absolute;
    color: green;
    top: 266px;
    left: 232px;
    right: 5px;
    width: 37px;
}

.sheet-DexTempMod {
    position: absolute;
    color: green;
    top: 266px;
    left: 276px;
    right: 5px;
    width: 37px;
}

/*Con Ability CSS*/
.sheet-ConScore {
    position: absolute;
    color: green;
    top: 292px;
    left: 100px;
    right: 5px;
    width: 37px;
}

.sheet-ConItemBonus {
    position: absolute;
    color: green;
    top: 292px;
    left: 145px;
    right: 5px;
    width: 37px;
}

.sheet-ConMod {
    position: absolute;
    color: green;
    top: 292px;
    left: 189px;
    right: 5px;
    width: 37px;
}

.sheet-ConTempScore {
    position: absolute;
    color: green;
    top: 292px;
    left: 232px;
    right: 5px;
    width: 37px;
}

.sheet-ConTempMod {
    position: absolute;
    color: green;
    top: 292px;
    left: 276px;
    right: 5px;
    width: 37px;
}

/*Int Ability CSS*/
.sheet-IntScore {
    position: absolute;
    color: green;
    top: 316px;
    left: 100px;
    right: 5px;
    width: 37px;
}

.sheet-IntItemBonus {
    position: absolute;
    color: green;
    top: 316px;
    left: 145px;
    right: 5px;
    width: 37px;
}

.sheet-IntMod {
    position: absolute;
    color: green;
    top: 316px;
    left: 189px;
    right: 5px;
    width: 37px;
}

.sheet-IntTempScore {
    position: absolute;
    color: green;
    top: 316px;
    left: 232px;
    right: 5px;
    width: 37px;
}

.sheet-IntTempMod {
    position: absolute;
    color: green;
    top: 316px;
    left: 276px;
    right: 5px;
    width: 37px;
}

/*Wis Ability CSS*/
.sheet-WisScore {
    position: absolute;
    color: green;
    top: 340px;
    left: 100px;
    right: 5px;
    width: 37px;
}

.sheet-WisItemBonus {
    position: absolute;
    color: green;
    top: 340px;
    left: 145px;
    right: 5px;
    width: 37px;
}

.sheet-WisMod {
    position: absolute;
    color: green;
    top: 340px;
    left: 189px;
    right: 5px;
    width: 37px;
}

.sheet-WisTempScore {
    position: absolute;
    color: green;
    top: 340px;
    left: 232px;
    right: 5px;
    width: 37px;
}

.sheet-WisTempMod {
    position: absolute;
    color: green;
    top: 340px;
    left: 276px;
    right: 5px;
    width: 37px;
}

/*Cha Ability CSS*/
.sheet-ChaScore {
    position: absolute;
    color: green;
    top: 364px;
    left: 100px;
    right: 5px;
    width: 37px;
}

.sheet-ChaItemBonus {
    position: absolute;
    color: green;
    top: 364px;
    left: 145px;
    right: 5px;
    width: 37px;
}

.sheet-ChaMod {
    position: absolute;
    color: green;
    top: 364px;
    left: 189px;
    right: 5px;
    width: 37px;
}

.sheet-ChaTempScore {
    position: absolute;
    color: green;
    top: 364px;
    left: 232px;
    right: 5px;
    width: 37px;
}

.sheet-ChaTempMod {
    position: absolute;
    color: green;
    top: 364px;
    left: 276px;
    right: 5px;
    width: 37px;
}

/*Feats & Special Abilities */

.sheet-Feats_SP1 {
    position: absolute;
    color: green;
    top: 419px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP2 {
    position: absolute;
    color: green;
    top: 436px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP3 {
    position: absolute;
    color: green;
    top: 453px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP4 {
    position: absolute;
    color: green;
    top: 470px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP5 {
    position: absolute;
    color: green;
    top: 487px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP6 {
    position: absolute;
    color: green;
    top: 504px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP7 {
    position: absolute;
    color: green;
    top: 521px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP8 {
    position: absolute;
    color: green;
    top: 538px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP9 {
    position: absolute;
    color: green;
    top: 555px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP10 {
    position: absolute;
    color: green;
    top: 572px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP11 {
    position: absolute;
    color: green;
    top: 589px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP12 {
    position: absolute;
    color: green;
    top: 606px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP13 {
    position: absolute;
    color: green;
    top: 622px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP14 {
    position: absolute;
    color: green;
    top: 639px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP15 {
    position: absolute;
    color: green;
    top: 656px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP16 {
    position: absolute;
    color: green;
    top: 673px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP17 {
    position: absolute;
    color: green;
    top: 689px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP18 {
    position: absolute;
    color: green;
    top: 706px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP19 {
    position: absolute;
    color: green;
    top: 723px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP20 {
    position: absolute;
    color: green;
    top: 740px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP21 {
    position: absolute;
    color: green;
    top: 757px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP22 {
    position: absolute;
    color: green;
    top: 774px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP23 {
    position: absolute;
    color: green;
    top: 791px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP24 {
    position: absolute;
    color: green;
    top: 808px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP25 {
    position: absolute;
    color: green;
    top: 825px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP26 {
    position: absolute;
    color: green;
    top: 842px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP27 {
    position: absolute;
    color: green;
    top: 859px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP28 {
    position: absolute;
    color: green;
    top: 876px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP29 {
    position: absolute;
    color: green;
    top: 893px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP30 {
    position: absolute;
    color: green;
    top: 910px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP31 {
    position: absolute;
    color: green;
    top: 927px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP32 {
    position: absolute;
    color: green;
    top: 944px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP33 {
    position: absolute;
    color: green;
    top: 960px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP34 {
    position: absolute;
    color: green;
    top: 977px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP35 {
    position: absolute;
    color: green;
    top: 994px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Feats_SP36 {
    position: absolute;
    color: green;
    top: 1011px;
    left: 76px;
    right: 5px;
    width: 240px;
}

/* Languages */

.sheet-Languages1 {
    position: absolute;
    color: green;
    top: 1026px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Languages2 {
    position: absolute;
    color: green;
    top: 1043px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Languages3 {
    position: absolute;
    color: green;
    top: 1060px;
    left: 76px;
    right: 5px;
    width: 240px;
}

.sheet-Languages4 {
    position: absolute;
    color: green;
    top: 1076px;
    left: 76px;
    right: 5px;
    width: 240px;
}

/*Character Data*/
.sheet-CharacterName{
    position: absolute;
    color: green;
    top: 79px;
    left: 400px;
    right: 5px;
    width: 285px;
}

.sheet-CharacterRace{
    position: absolute;
    color: green;
    top: 110px;
    left: 400px;
    right: 5px;
    width: 200px;
}

.sheet-CharacterSize{
    position: absolute;
    color: green;
    top: 110px;
    left: 630px;
    right: 5px;
    width: 50px;
}

.sheet-SizeMod{
    position: absolute;
    color: green;
    top: 105px;
    left: 705px;
    right: 5px;
    width: 40px;
}

.sheet-Gender{
    position: absolute;
    color: green;
    top: 79px;
    left: 708px;
    right: 5px;
    width: 40px;
}
/*Class names/level/hd*/
.sheet-Class1Name{
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 150px;
    left: 358px;
    right: 5px;
    width: 240px;
}

.sheet-Class1Skill{
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 150px;
    left: 595px;
    right: 5px;
    width: 40px;
}

.sheet-Class1HD{
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 150px;
    left: 653px;
    right: 5px;
    width: 27px;
}

.sheet-Class1Level{
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 150px;
    left: 692px;
    right: 5px;
    width: 32px;
}

.sheet-Class2Name {
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 171px;
    left: 358px;
    right: 5px;
    width: 240px;
}

.sheet-Class2Skill {
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 171px;
    left: 595px;
    right: 5px;
    width: 40px;
}

.sheet-Class2HD {
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 171px;
    left: 653px;
    right: 5px;
    width: 27px;
}

.sheet-Class2Level {
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 171px;
    left: 692px;
    right: 5px;
    width: 32px;
}

.sheet-Class3Name {
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 150px;
    left: 358px;
    right: 5px;
    width: 240px;
}

.sheet-Class3Skill {
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 150px;
    left: 595px;
    right: 5px;
    width: 40px;
}

.sheet-Class3HD {
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 150px;
    left: 653px;
    right: 5px;
    width: 27px;
}

.sheet-Class3Level {
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 150px;
    left: 692px;
    right: 5px;
    width: 32px;
}

.sheet-Class4Name {
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 150px;
    left: 358px;
    right: 5px;
    width: 240px;
}

.sheet-Class4Skill {
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 150px;
    left: 595px;
    right: 5px;
    width: 40px;
}

.sheet-Class4HD {
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 150px;
    left: 653px;
    right: 5px;
    width: 27px;
}

.sheet-Class4Level {
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 150px;
    left: 692px;
    right: 5px;
    width: 32px;
}

.sheet-Class5Name {
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 150px;
    left: 358px;
    right: 5px;
    width: 240px;
}

.sheet-Class5Skill {
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 150px;
    left: 595px;
    right: 5px;
    width: 40px;
}

.sheet-Class5HD {
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 150px;
    left: 653px;
    right: 5px;
    width: 27px;
}

.sheet-Class5Level {
    position: absolute;
    height: 10px;
    font-size: 13px;
    padding: 0px;
    color: green;
    top: 150px;
    left: 692px;
    right: 5px;
    width: 32px;
}
